*{
  max-width: 100%;
}
body {
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  color: #fff;
  background: linear-gradient(-45deg, #8e2de2, #4a00e0, rgb(106, 79, 160));
  background-size: 400% 400%;
  animation: gradientBG 3s ease infinite;
}
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.formstyle {
  background-color: white;
  height: 120vh;
  margin-top: 30px;
  border-radius: 20px;
  -webkit-box-shadow: 21px 25px 64px -27px rgba(0, 0, 0, 1);
  -moz-box-shadow: 21px 25px 64px -27px rgba(0, 0, 0, 1);
  box-shadow: 21px 25px 64px -27px rgba(0, 0, 0, 1);
}
.formstyle2 {
  background-color: white;
  height: 115vh;
  margin-top: 30px;
  border-radius: 20px;
  -webkit-box-shadow: 21px 25px 64px -27px rgba(0, 0, 0, 1);
  -moz-box-shadow: 21px 25px 64px -27px rgba(0, 0, 0, 1);
  box-shadow: 21px 25px 64px -27px rgba(0, 0, 0, 1);
}
.header {
  margin-bottom: 30px;
  padding-top: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 80px;
}
.form-group {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  width: 40%;
  margin: 0 auto;
}
.form-check {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  width: 40%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.btnstyle {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  position: relative;
  left: 40%;
  transform: translateX(-50%);
  width: 20%;
}
.btnstyle2 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  width: 20%;
  position: relative;
  left: 40%;
  transform: translateX(-50%);
}

/* input, select, textarea {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  } */
